<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDui78aZ6AXLa6C6Mz7_000lBaZrfwXhck</string>
	<key>GCM_SENDER_ID</key>
	<string>281523261511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loveushakovaa.DailyHelper</string>
	<key>PROJECT_ID</key>
	<string>dailyhelper-4bcb6</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyhelper-4bcb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281523261511:ios:98dab620eb288ec44f6162</string>
</dict>
</plist>